<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--Database Server-->
    <add key="myConnectionString" value="data source=localhost;user id=root; password=;database=DBRTA1"/>
    <add key="conString" value="mongodb://localhost:27017"/>
    
    <!-- ServiceTimer = Time for service process job in Second -->
    <add key="RefreshTimer" value="10"/>
  </appSettings>
</configuration>